In [1]:
"""
날짜 : 2023/01/03
이름 : 김철학
내용 : 파이썬 반복문 for 실습하기
"""

'\n날짜 : 2023/01/03\n이름 : 김철학\n내용 : 파이썬 반복문 for 실습하기\n'

In [1]:
# for
for i in range(5):
    print('i :', i)

for j in range(10, 20):
    print('j :', j)

for k in range(10, 0, -1):
    print('k :', k)

i : 0
i : 1
i : 2
i : 3
i : 4
j : 10
j : 11
j : 12
j : 13
j : 14
j : 15
j : 16
j : 17
j : 18
j : 19
k : 10
k : 9
k : 8
k : 7
k : 6
k : 5
k : 4
k : 3
k : 2
k : 1

In [5]:
# 1부터 10까지 합
total = 0

for k in range(11):
    total += k

print('1부터 10까지 합 :', total)

1부터 10까지 합 : 55

In [6]:
# 1부터 10까지 짝수합
total = 0

for k in range(11):

    if k % 2 == 0:
        total += k

print('1부터 10까지 짝수합 :', total)

1부터 10까지 짝수합 : 30

In [ ]:
# 중첩 for
for a in range(2):
    print('a :', a)
    for b in range(3):
        print('b :', b)
        for c in range(4):
            print('c :', c)

In [2]:
# 구구단 출력
for x in range(2, 10):
    print(x, '단')
    for y in range(1, 10):
        z = x * y
        print('{} x {} = {}'.format(x, y, z))

2 단
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 단
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 단
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 단
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 단
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 단
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 단
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 단
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [10]:
# 별삼각형
for start in range(1, 11):
    for end in range(start):
        print('☆', end='')

    print() # 줄바꿈

☆
☆☆
☆☆☆
☆☆☆☆
☆☆☆☆☆
☆☆☆☆☆☆
☆☆☆☆☆☆☆
☆☆☆☆☆☆☆☆
☆☆☆☆☆☆☆☆☆
☆☆☆☆☆☆☆☆☆☆

In [ ]:
# 별삼각형
for i in range(11):
    print('★' * i)